@import "grid-flex.less";
@import "grid-helpers.less";

@maxWidth: 960px;
.row {
    .row();
}

.inner-wrap {
    max-width: @maxWidth;
    .container();
}

.wrap-all {
    .showGrid(@maxWidth);
}

.flash-wrap {
    .column(12);
    // .skullimg {
    //     .column(12);
    // }
}

.outer-wrap.outer-wrap-header {
    .pull(2.55);
    .pull-right(2.55);
}


.site-header {
    .column(12);
}

.navbar2 {
    .push(2);
}

.article {
    .column(12);
    // .push(2);
}

.site-logo-text {
    .push(4);
}


body.route-grid {
    .outer-wrap.outer-wrap-main {
        .row {
            background: url("../img/grid.png") repeat-y fixed center center;
        }
    }
    .main {
        .column(6);
        .push(1);
        border: 1px solid black;
        margin-top: 20px;
        margin-bottom: 10px;

    }
    .article {
        padding: 5px;
    }
}

.bild_index {
    .column(12);
}

.block.site-footer {
    p{
        .push(4);
    }
}

.outer-wrap.outer-wrap-footer {
    .pull(2.55);
    .pull-right(2.55);
}

.footer {
    .column(12);

}

.links_cc_copy {
    .push(4.4);
}

//backgrounds färger

html {
    background-color: grey;
}

// .wrap-all {
//     background-color: white;
//     border: 1px solid black;
// }

.outer-wrap.outer-wrap-main {
    .column(12);
}

body.route-typography {
    .font();
    .typographyHeadings();
    .typographyOtherElements();
    .typographyTableElements();
    .typographyListElements();
    .typographyCodeElements();
    .typographyTextElements();
}

body {
    .typographyHeadings();
    .typographyOtherElements();
}

@media screen and (max-width: 797px) {
    .links_cc_copy {
        display: none;
    }
    .footer {
        overflow: auto;
    }
}
