/**
* Anax Flat theme.
*/
@import url(modules.less);
// class="inner-wrap inner-wrap-breadcrumb"
// outer-wrap outer-wrap-header
/** --------------------------------------------------------------
 *  header
*/
@htmlBackground_color: #c3c3c3;
@footerBackground_color: #747776;
@mainBackground_color: #FFFFFF;
// @mainBackground_color: #FFFFFF;
@breadcrumbBackground_color: #FFFFFF;
@headerBackground_color: #FFFFFF;

@p_Color: black;
@a_Color: black;
@a_normal_color: purple;


.site-header {
    margin-bottom: 10px;
    margin-top: 20px;
}
.outer-wrap.outer-wrap-header {
    background-color: @headerBackground_color;
    margin-bottom: 20px;

}
// .navbar2,
// .site-logo-text,
// .profile {
//     float: left;
//     // width: 30%;
// }
//body text och länk färger
body {
    p,
    h1,
    h2,
    h3,
    h5 {
        color: @p_Color;
    }
    a {
        color: @a_normal_color;
    }
}

.site-logo-text {
    font-size: 2em;


    a {
        text-decoration: none;
        color: black;
    }
}
//hmtl_backgrun
html {
    background-color: @htmlBackground_color;
}
// footer 1

.outer-wrap.outer-wrap-footer {
    background-color: @footerBackground_color;

}

// .footer {
//     background-color: @footerBackground_color;
// }

.column.footer-column {
    float: left;
    // width: 33%;
    height: 200px;
    // border-right: 1px solid black;
    // border-left: 1px solid black;
    p {
        padding-left: 5px;
        padding-right: 5px;
    }
    h4 {
        padding-left: 20%;
    }
    ul {
        padding-left: 70px;
    }
}
//main

.inner-wrap.inner-wrap-main {
     background-color: @mainBackground_color;
}
/** --------------------------------------------------------------
*  navbar main
*/
.rm-desktop li a {
    padding-top: 10px;
    color: @a_Color;
}

// @navbarItemBgColor: grey;

// navbar max

@maxButtonFontSize: 2em;

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}
//sidbar reportheader

//header size
.reportheader,
.skullimg {
    width: 100.05%;
    height: 200px;
}
// navbar under header
.inner-wrap.inner-wrap-breadcrumb {
    background-color: @breadcrumbBackground_color;
    border: 1px solid black;
    a {
        text-decoration: none;
        color: black;
        font-size: 25px;
    }
}

//sidbar grid-sidan
body.route-grid-,
body.route-grid {

    .sidebar{
        border: 1px solid black;
        margin-top: 20px;
        height: 300px;
        // width: 270px;
        h5 {
            font-size: 1em;
            margin-top: 0px;
            background-color: brown;
            padding-left: 40%;
            padding-bottom: 20px;
            height: 25px;
            padding-top: 15px;
        }
        a {
            padding-left: 10%;
        }

        p {
            margin-top: 0px;
        }
    }
}
.grid-paw {
    padding-left: 20%;
    margin-bottom: 10px;
}


/** --------------------------------------------------------------
*  Responsiv design
*/

@media screen and (max-width: 900px) {
    .site-logo-text {
        width: 40%;
    }

    .navbar2 {
        width: 50%;
    }

    .profile {
        width: 10%;
    }
}

@media screen and (max-width: 300px) {
    .column.footer-column {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .footer-column {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
    .navbar2 {
        display: none;
    }
}

// @media screen and (max-width: 797px) {
//     .links_cc_copy {
//         display: none;
//     }
// }
