/**
* Anax Flat theme.
*/
@import url(modules.less);

/** --------------------------------------------------------------
 *  header
*/

.site-header {
    height: 80px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.site-logo-text,
.navbar2,
.profile {
    float: left;
    // width: 30%;
}

.site-logo-text {
    font-size: 2em;
    

    a {
        text-decoration: none;
        color: black;
    }
}

// footer 1
.footer {
    border-top: 1px solid black;
}
.column.footer-column {
    float: left;
    width: 33%;
    height: 200px;
    // border-right: 1px solid black;
    // border-left: 1px solid black;
    p {
        padding-left: 5px;
        padding-right: 5px;
    }
    h4 {
        padding-left: 20%;
    }
    ul {
        padding-left: 70px;
    }
}

/** --------------------------------------------------------------
*  navbar main
*/
.rm-desktop li a {
    padding-top: 10px;
}

.rm-desktop li {
    font-size: 20px;
}
// @navbarItemBgColor: grey;

// navbar max

@maxButtonFontSize: 2em;

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}
//sidbar reportheader
.sidebar {
    float:none;
}
//header size
.reportheader,
.skullimg {
    width: 100%;
    height: 200px;
}
// navbar under header
.outer-wrap.outer-wrap-breadcrumb {
    border: 1px solid black;
    a {
        text-decoration: none;
        color: black;
        font-size: 25px;
    }
}

//sidbar grid-sidan
body.route-grid {

    .sidebar{
        border: 1px solid black;
        margin-top: 20px;
        height: 300px;
        width: 270px;
        h5 {
            font-size: 1em;
            margin-top: 0px;
            background-color: brown;
            padding-left: 40%;
            padding-bottom: 20px;
            height: 25px;
            padding-top: 15px;
        }
        a {
            padding-left: 10%;
        }

        p {
            margin-top: 0px;
        }
    }
}
.grid-paw {
    padding-left: 20%;
    margin-bottom: 10px;
}

/** --------------------------------------------------------------
*  Responsiv design
*/

@media screen and (max-width: 900px) {
    .site-logo-text {
        width: 40%;
    }

    .navbar2 {
        width: 50%;
    }

    .profile {
        width: 10%;
    }
}

@media screen and (max-width: 300px) {
    .column.footer-column {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .footer-column {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
    .navbar2 {
        display: none;
    }
}

// @media screen and (max-width: 797px) {
//     .links_cc_copy {
//         display: none;
//     }
// }
